In [1]:
import pandas as pd
import numpy as np
import warnings
import seaborn as sns 
import re
from ast import literal_eval
warnings.filterwarnings('ignore')
print('pandas:'+pd.__version__)
print('seaborn:'+sns.__version__)  
from sklearn.model_selection import train_test_split 
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer 
import nltk
from sklearn.linear_model import LogisticRegression
nltk.download('stopwords')
from nltk.corpus import stopwords 
from sklearn.multiclass import OneVsRestClassifier
from sklearn import model_selection
from sklearn.model_selection import GridSearchCV
from datetime import datetime
import sqlite3
from sqlite3 import Error
import uuid
from time import time
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report

pandas:1.0.5
seaborn:0.10.1

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USUARIO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
results = []
resultsLogisticRegression = []


# datetime object containing current date and time
now = datetime.now()
 
print("now =", now)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

id_transacao = dt_string#str(uuid.uuid4())
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

def save_metrics(conn, project):
    """
    Create a new project into the projects table
    :param conn:
    :param project:
    :return: project id
    """
    sql = ''' INSERT INTO metrics( classificador, score_f1,
    precision,
    train_time,
    test_time,
    transacao)
    VALUES(?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, project)
    conn.commit()
    return cur.lastrowid

def salvar_dado(valor):
    database = r"../data/metricsDB.sqlite"
    print (id)
    # create a database connection
    conn = create_connection(database)
    with conn:
        # create a new project
#         linha = ['SGD Classifier',  0.4503092535879421,  1.9019618034362793,  0.012923479080200195, id]
#         metrica = ('Cool App with SQLite & Python', '2015-01-01', '2015-01-30');
        valor.append(id_transacao)
        print(valor)
        metrica = save_metrics( conn,valor) 
    print (id)

now = 2020-09-30 21:51:46.704234
date and time = 30/09/2020 21:51:46

In [3]:
tmdb = pd.read_csv('../../../dados/tmdb_5000_movies.csv')

In [4]:
tmdb['genres'] = tmdb['genres'].fillna('[]')\
.apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
tmdb.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [5]:
tmdb['genres']=tmdb['genres'].apply(lambda x: '|'.join(x))
tmdb.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,Action|Adventure|Fantasy|Science Fiction,http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,Adventure|Fantasy|Action,http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,Action|Adventure|Crime,http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [6]:
generos = tmdb.genres.str.get_dummies()
generos.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [7]:
tmdb.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [8]:
tmdb['overview'].fillna('', inplace=True)
tmdb.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   0
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [9]:

# dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
#                             'original_title','popularity','production_companies','production_countries',
#                            'release_date','revenue','runtime','spoken_languages','status','tagline',
#                            'title','vote_average','vote_count', 'overview','genres' ], axis=1)

In [10]:
generos = tmdb.genres.str.get_dummies()
generos.head()

#CONCATENA OS DOIS DATAFRAMES
dados_dos_filmes = pd.concat([tmdb, generos], axis=1)
dados_dos_filmes.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,237000000,Action|Adventure|Fantasy|Science Fiction,http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,0,0,0,0,0,1,0,0,0,0
1,300000000,Adventure|Fantasy|Action,http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,0,0,0
2,245000000,Action|Adventure|Crime,http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,0,0,0,0,0,0,0,0,0,0
3,250000000,Action|Crime|Drama|Thriller,http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,0,0,0,0,0,0,0,1,0,0
4,260000000,Action|Adventure|Science Fiction,http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,0,0,0,0,0,1,0,0,0,0

In [11]:
# df_genres =dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
#                             'original_title','popularity','production_companies','production_countries',
#                            'release_date','revenue','runtime','spoken_languages','status','tagline',
#                            'title','vote_average','vote_count', 'overview','genres' ], axis=1)
# df_genres

In [12]:
df_genres =dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
                            'original_title','popularity','production_companies','production_countries',
                           'release_date','revenue','runtime','spoken_languages','status','tagline',
                           'title','vote_average','vote_count', 'overview','genres' ], axis=1)
counts = []
categories = list(df_genres.columns)
for i in categories:
    counts.append((i, df_genres[i].sum()))
df_stats = pd.DataFrame(counts, columns=['genre', '#movies'])
df_stats

              genre  #movies
0            Action     1154
1         Adventure      790
2         Animation      234
3            Comedy     1722
4             Crime      696
5       Documentary      110
6             Drama     2297
7            Family      513
8           Fantasy      424
9           Foreign       34
10          History      197
11           Horror      519
12            Music      185
13          Mystery      348
14          Romance      894
15  Science Fiction      535
16         TV Movie        8
17         Thriller     1274
18              War      144
19          Western       82

In [14]:

# split the data, leave 1/3 out for testing
data_x = dados_dos_filmes[['overview']]
data_y = dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
                            'original_title','popularity','production_companies','production_countries',
                           'release_date','revenue','runtime','spoken_languages','status','tagline',
                           'title','vote_average','vote_count', 'overview','genres' ], axis=1)
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [15]:
from sklearn.ensemble import RandomForestClassifier
nltk.download('stopwords') 
words = stopwords.words("english") 
pipeline = Pipeline([
('tfidf', TfidfVectorizer(stop_words=words)),
('rfc', RandomForestClassifier() ),
    
])
parameters = {
# 'tfidf__max_df': (0.5, 0.65, 0.75),
# 'tfidf__min_df': (0.15, 0.30, 0.35),
'tfidf__ngram_range': [(1, 1), (1, 2), (1, 3)],
"rfc__n_estimators": [10,15,20],
"rfc__class_weight": ['balanced','balanced_subsample', None],
'rfc__max_depth':[3,5,8],
}

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USUARIO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [16]:

grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)

Fitting 2 folds for each of 81 candidates, totalling 162 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:   14.3s
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed:  1.1min
[Parallel(n_jobs=2)]: Done 162 out of 162 | elapsed:  1.4min finished

Best parameters set:
[('tfidf', TfidfVectorizer(stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...])), ('rfc', RandomForestClassifier(max_depth=5, n_estimators=10))]

In [17]:

clf  = grid_search_tune.best_estimator_
classes=categories
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))


if hasattr(clf, 'coef_'):
    print("dimensionality: %d" % clf.coef_.shape[1])
    print("density: %f" % density(clf.coef_))

clf_descr = 'RandomForest-Semtratamento-tmdb'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

________________________________________________________________________________________________________________________
Training:
Pipeline(steps=[('tfidf',
                 TfidfVectorizer(stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('rfc', RandomForestClassifier(max_depth=5, n_estimators=10))])
Treino: 0.000s
testes:  0.180s
f1_score:   0.028

Accuracy: 0.01


Precisao: 0.60

Relatório de Classificação:
                 precision    recall  f1-score   support

         Action       0.00      0.00      0.00       377
      Adventure       0.00      0.00      0.00       246
      Animation       0.00      0.00      0.00        66
         Comedy       0.00      0.00      0.00       541
          Crime       0.00      0.00      0.00       241
    Documentary       0.00      0.00      0.00        43
          Drama       0.60      0.08      0.13       768
         Family       0.00      0.00      0.00       136
        Fantasy       0.00      0.00      0.00       128
        Foreign       0.00      0.00      0.00        13
        History       0.00      0.00      0.00        68
         Horror       0.00      0.00      0.00       183
          Music       0.00      0.00      0.00        54
        Mystery       0.00      0.00      0.00       132
        Romance       0.00      0.00      0.00       296
Science Fiction       0.00      0.00      0.00       180
       TV Movie       0.00      0.00      0.00         3
       Thriller       0.00      0.00      0.00       443
            War       0.00      0.00      0.00        44
        Western       0.00      0.00      0.00        25

      micro avg       0.60      0.01      0.03      3987
      macro avg       0.03      0.00      0.01      3987
   weighted avg       0.12      0.01      0.03      3987
    samples avg       0.04      0.02      0.02      3987

<built-in function id>
['RandomForest-Semtratamento-tmdb', 0.02840352595494613, 0.5979381443298969, 0.0, 55555, '30/09/2020 21:51:46']
<built-in function id>

In [118]:
# clf

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(ngram_range=(1, 3),
                                 stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('clf',
                 OneVsRestClassifier(estimator=LogisticRegression(C=0.01,
                                                                  class_weight='balanced',
                                                                  solver='newton-cg')))])

In [18]:
tmdb = pd.read_csv('../../../dados/tmdb_5000_movies.csv')

In [19]:
tmdb['genres'] = tmdb['genres'].fillna('[]')\
.apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
tmdb.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [20]:
tmdb['overview'].fillna('', inplace=True)
tmdb.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   0
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [21]:
overview_df = tmdb[["overview","genres"]]
filmes_balanceados = overview_df.copy(deep=True)

In [22]:
lst_col = 'genres'

filmes_balanceados2 = pd.DataFrame({
      col:np.repeat(filmes_balanceados[col].values, filmes_balanceados[lst_col].str.len())
      for col in filmes_balanceados.columns.drop(lst_col)}
    ).assign(**{
    lst_col:np.concatenate(filmes_balanceados[lst_col].values)})[filmes_balanceados.columns]

In [23]:
filmes_balanceados2['genres'].value_counts()

Drama              2297
Comedy             1722
Thriller           1274
Action             1154
Romance             894
Adventure           790
Crime               696
Science Fiction     535
Horror              519
Family              513
Fantasy             424
Mystery             348
Animation           234
History             197
Music               185
War                 144
Documentary         110
Western              82
Foreign              34
TV Movie              8
Name: genres, dtype: int64

In [24]:
df_Drama = filmes_balanceados2[filmes_balanceados2['genres']=='Drama']
df_Comedy  = filmes_balanceados2[filmes_balanceados2['genres']=='Comedy']
df_Thriller   = filmes_balanceados2[filmes_balanceados2['genres']=='Thriller']
df_Action  = filmes_balanceados2[filmes_balanceados2['genres']=='Action']
df_Romance   = filmes_balanceados2[filmes_balanceados2['genres']=='Romance']
df_Adventure = filmes_balanceados2[filmes_balanceados2['genres']=='Adventure']
df_Crime    = filmes_balanceados2[filmes_balanceados2['genres']=='Crime']
df_Science_Fiction = filmes_balanceados2[filmes_balanceados2['genres']=='Science Fiction']
df_Horror     = filmes_balanceados2[filmes_balanceados2['genres']=='Horror']
df_Family           = filmes_balanceados2[filmes_balanceados2['genres']=='Family']
df_Fantasy    = filmes_balanceados2[filmes_balanceados2['genres']=='Fantasy']
df_Mystery      = filmes_balanceados2[filmes_balanceados2['genres']=='Mystery']
df_Animation   = filmes_balanceados2[filmes_balanceados2['genres']=='Animation']
df_History       = filmes_balanceados2[filmes_balanceados2['genres']=='History']
df_Music         = filmes_balanceados2[filmes_balanceados2['genres']=='Music']
df_War        = filmes_balanceados2[filmes_balanceados2['genres']=='War']
df_Documentary  = filmes_balanceados2[filmes_balanceados2['genres']=='Documentary']
df_Western     = filmes_balanceados2[filmes_balanceados2['genres']=='Western']
df_Foreign     = filmes_balanceados2[filmes_balanceados2['genres']=='Foreign']
df_TV_Movie  = filmes_balanceados2[filmes_balanceados2['genres']=='TV Movie']

In [25]:
from sklearn.utils import resample
df_Comedy  = resample(df_Comedy,
                      replace=True,
                      n_samples=2297,
                      random_state=123)
df_Thriller   = resample(df_Thriller,
                         replace=True,
                         n_samples=2297,
                         random_state=123)
df_Action  = resample(df_Action,
                      replace=True,
                      n_samples=2297,
                      random_state=123)
df_Romance   = resample(df_Romance,
                        replace=True,
                        n_samples=2297,
                        random_state=123)
df_Adventure= resample(df_Adventure, 
                       replace=True,  
                       n_samples=2297,    
                       random_state=123)
df_Crime   = resample(df_Crime,
                      replace=True,     
                      n_samples=2297,    
                      random_state=123)
df_Science_Fiction = resample(df_Science_Fiction,
                              replace=True, 
                              n_samples=2297,
                              random_state=123)
df_Horror     = resample(df_Horror, 
                         replace=True,     
                         n_samples=2297,    
                         random_state=123)
df_Family          = resample(df_Family, 
                              replace=True,
                              n_samples=2297,  
                              random_state=123)
df_Fantasy   = resample(df_Fantasy, 
                                 replace=True,     
                                 n_samples=2297,    
                                 random_state=123)
df_Mystery      = resample(df_Mystery,
                           replace=True,     
                           n_samples=2297,   
                           random_state=123)
df_Animation  = resample(df_Animation, 
                         replace=True, 
                         n_samples=2297, 
                         random_state=123)
df_History    = resample(df_History, 
                         replace=True, 
                         n_samples=2297,  
                         random_state=123)
df_Music      = resample(df_Music,
                         replace=True,  
                         n_samples=2297, 
                         random_state=123)
df_War       = resample(df_War, 
                        replace=True,   
                        n_samples=2297,    
                        random_state=123)
df_Documentary= resample(df_Documentary, 
                         replace=True,
                         n_samples=2297,    
                         random_state=123)
df_Western    = resample(df_Western, 
                         replace=True,     
                         n_samples=2297,    
                         random_state=123)
df_Foreign   = resample(df_Foreign, 
                        replace=True,
                        n_samples=2297,  
                        random_state=123)
df_TV_Movie = resample(df_TV_Movie, 
                       replace=True, 
                       n_samples=2297,
                       random_state=123)

In [26]:
df_upsampled = pd.concat([df_Drama, df_Comedy], axis=0 ) 
df_upsampled = pd.concat([df_upsampled, df_Adventure], axis=0 )


df_upsampled = pd.concat([df_upsampled, df_Thriller ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Action ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Romance ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Crime ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Science_Fiction ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Horror ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Family ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Fantasy ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Mystery ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Animation ]
                         )
df_upsampled = pd.concat([df_upsampled, df_History ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Music ]
                         )
df_upsampled = pd.concat([df_upsampled, df_War ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Documentary ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Western ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Foreign ]
                         )
df_upsampled = pd.concat([df_upsampled, df_TV_Movie ]
                         )

In [27]:
df_upsampled.reset_index()

       index                                           overview    genres
0         12  Following the death of District Attorney Harve...     Drama
1         74  In 1933 New York, an overly ambitious movie pr...     Drama
2         76  84 years later, a 101-year-old woman named Ros...     Drama
3        139  Life for former United Nations investigator Ge...     Drama
4        153  An adaptation of F. Scott Fitzgerald's Long Is...     Drama
...      ...                                                ...       ...
45935  12158  "Signed, Sealed, Delivered" introduces a dedic...  TV Movie
45936   9934  Troy (Zac Efron), the popular captain of the b...  TV Movie
45937   8903  A young woman finds out that her mother worked...  TV Movie
45938  10413  The continued Westward journey of settlers Mis...  TV Movie
45939   9780  American-born Jayne Valseca, her husband Eduar...  TV Movie

[45940 rows x 3 columns]

In [28]:
df_upsampled['genres'].value_counts()

Horror             2297
History            2297
Mystery            2297
Foreign            2297
Adventure          2297
Comedy             2297
Science Fiction    2297
Documentary        2297
TV Movie           2297
Animation          2297
Crime              2297
Western            2297
Romance            2297
Drama              2297
Action             2297
Family             2297
Music              2297
War                2297
Thriller           2297
Fantasy            2297
Name: genres, dtype: int64

In [29]:
df_upsampled['genres'].unique()

array(['Drama', 'Comedy', 'Adventure', 'Thriller', 'Action', 'Romance',
       'Crime', 'Science Fiction', 'Horror', 'Family', 'Fantasy',
       'Mystery', 'Animation', 'History', 'Music', 'War', 'Documentary',
       'Western', 'Foreign', 'TV Movie'], dtype=object)

In [30]:

# split the data, leave 1/3 out for testing
data_x = dados_dos_filmes[['overview']]
data_y = dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
                            'original_title','popularity','production_companies','production_countries',
                           'release_date','revenue','runtime','spoken_languages','status','tagline',
                           'title','vote_average','vote_count', 'overview','genres' ], axis=1)
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [31]:
from sklearn.ensemble import RandomForestClassifier
nltk.download('stopwords') 
words = stopwords.words("english") 
pipeline = Pipeline([
('tfidf', TfidfVectorizer(stop_words=words, max_df=0.75)),
('rfc', RandomForestClassifier() ),
    
])
parameters = {
# 'tfidf__max_df': (0.5, 0.65, 0.75),
# 'tfidf__min_df': (0.15, 0.30, 0.35),
'tfidf__ngram_range': [(1, 1), (1, 2), (1, 3)],
'tfidf__max_features': [100, 1000,5000],
    
"rfc__n_estimators": [10,15,20],
"rfc__class_weight": ['balanced','balanced_subsample', None],
'rfc__max_depth':[3,5,8],
}

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USUARIO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:
categories

['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western']

In [33]:


classes=categories
print('_' * 120)


t0 = time()  
##############
print("Training: ")
grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  

clf  = grid_search_tune.best_estimator_
print(clf)
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)
############################
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))


if hasattr(clf, 'coef_'):
    print("dimensionality: %d" % clf.coef_.shape[1])
    print("density: %f" % density(clf.coef_))

clf_descr = 'RandomForest-upsampled-tmdb'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

________________________________________________________________________________________________________________________
Training:
Fitting 2 folds for each of 243 candidates, totalling 486 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:    8.4s
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed:   40.4s
[Parallel(n_jobs=2)]: Done 284 tasks      | elapsed:  2.0min
[Parallel(n_jobs=2)]: Done 486 out of 486 | elapsed:  3.8min finished

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(max_df=0.75, max_features=100,
                                 ngram_range=(1, 3),
                                 stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('rfc', RandomForestClassifier(max_depth=8, n_estimators=20))])
Best parameters set:
[('tfidf', TfidfVectorizer(max_df=0.75, max_features=100, ngram_range=(1, 3),
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...])), ('rfc', RandomForestClassifier(max_depth=8, n_estimators=20))]
Treino: 232.425s
testes:  0.395s
f1_score:   0.132

Accuracy: 0.04


Precisao: 0.67

Relatório de Classificação:
                 precision    recall  f1-score   support

         Action       0.66      0.06      0.10       377
      Adventure       0.00      0.00      0.00       246
      Animation       0.00      0.00      0.00        66
         Comedy       0.00      0.00      0.00       541
          Crime       0.00      0.00      0.00       241
    Documentary       0.00      0.00      0.00        43
          Drama       0.67      0.35      0.46       768
         Family       0.00      0.00      0.00       136
        Fantasy       0.00      0.00      0.00       128
        Foreign       0.00      0.00      0.00        13
        History       0.00      0.00      0.00        68
         Horror       0.00      0.00      0.00       183
          Music       0.00      0.00      0.00        54
        Mystery       0.00      0.00      0.00       132
        Romance       0.00      0.00      0.00       296
Science Fiction       0.00      0.00      0.00       180
       TV Movie       0.00      0.00      0.00         3
       Thriller       1.00      0.01      0.02       443
            War       0.00      0.00      0.00        44
        Western       0.00      0.00      0.00        25

      micro avg       0.67      0.07      0.13      3987
      macro avg       0.12      0.02      0.03      3987
   weighted avg       0.30      0.07      0.10      3987
    samples avg       0.18      0.09      0.11      3987

<built-in function id>
['RandomForest-upsampled-tmdb', 0.1315848971286457, 0.6674311926605505, 232.42472672462463, 55555, '30/09/2020 21:51:46']
<built-in function id>

In [34]:
df_upsampled['genres'] = df_upsampled['genres'].map(lambda x: x.split(','))
df_upsampled.head()

                                              overview   genres
12   Following the death of District Attorney Harve...  [Drama]
74   In 1933 New York, an overly ambitious movie pr...  [Drama]
76   84 years later, a 101-year-old woman named Ros...  [Drama]
139  Life for former United Nations investigator Ge...  [Drama]
153  An adaptation of F. Scott Fitzgerald's Long Is...  [Drama]

In [35]:
df_upsampled.head()

                                              overview   genres
12   Following the death of District Attorney Harve...  [Drama]
74   In 1933 New York, an overly ambitious movie pr...  [Drama]
76   84 years later, a 101-year-old woman named Ros...  [Drama]
139  Life for former United Nations investigator Ge...  [Drama]
153  An adaptation of F. Scott Fitzgerald's Long Is...  [Drama]

# predicao com td-ifdf

In [38]:
from sklearn.preprocessing import MultiLabelBinarizer
multilabel_binarizer3 = MultiLabelBinarizer()
y =multilabel_binarizer3.fit_transform( df_upsampled['genres'])
tfidf_vectorizer3 = TfidfVectorizer(max_df=0.7, max_features=5000)
# from sklearn import model_selection
xtrain, xval, ytrain, yval = model_selection.train_test_split(df_upsampled['overview'], y, test_size=0.2, random_state=512)

In [39]:
xtrain_tfidf = tfidf_vectorizer3.fit_transform(xtrain)
xval_tfidf = tfidf_vectorizer3.transform(xval)
train_x = xtrain_tfidf
test_x = xval_tfidf
from sklearn.ensemble import RandomForestClassifier
nltk.download('stopwords') 
rfc = RandomForestClassifier()
words = stopwords.words("english") 
parameters = {'n_estimators':[10,15,20],  
             "class_weight": ['balanced','balanced_subsample', None],
             'max_depth':[3,5,8]}
# clf = GridSearchCV(svc, parameters, cv=2, n_jobs=2, verbose=3)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USUARIO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [40]:
multilabel_binarizer3.classes_

array(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction',
       'TV Movie', 'Thriller', 'War', 'Western'], dtype=object)

In [41]:


classes=multilabel_binarizer3.classes_
print('_' * 120)


t0 = time()  
##############
print("Training: ")
grid_search_tune = GridSearchCV(
rfc, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  

clf  = grid_search_tune.best_estimator_
print(clf)
print 
############################
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro') 
print("f1_score :   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print('Micro Precision: {:.2f}'.format(precision_score(yval, pred, average='micro')))
print('Macro Precision: {:.2f}'.format(precision_score(yval, pred, average='macro')))
print('Weighted Precision: {:.2f}'.format(precision_score(yval, pred, average='weighted')))


print('Micro F1-score: {:.2f}\n'.format(f1_score(yval, pred, average='micro')))
print('Macro F1-score: {:.2f}\n'.format(f1_score(yval, pred, average='macro'))) 
print('Weighted F1-score: {:.2f}'.format(f1_score(yval, pred, average='weighted')))

print('Macro Recall: {:.2f}'.format(recall_score(yval, pred, average='macro'))) 
print('Micro Recall: {:.2f}'.format(recall_score(yval, pred, average='micro')))
print('Weighted Recall: {:.2f}'.format(recall_score(yval, pred, average='weighted')))

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))


if hasattr(clf, 'coef_'):
    print("dimensionality: %d" % clf.coef_.shape[1])
    print("density: %f" % density(clf.coef_))

clf_descr = 'RandomForest-upsampled-tf-idf'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.

________________________________________________________________________________________________________________________
Training:
Fitting 2 folds for each of 27 candidates, totalling 54 fits

[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:   57.4s
[Parallel(n_jobs=2)]: Done  54 out of  54 | elapsed:  1.8min finished

RandomForestClassifier(class_weight='balanced', max_depth=8, n_estimators=10)
Treino: 111.928s
testes:  0.385s
f1_score :   0.088

Accuracy: 0.05


Precisao: 0.98

Micro Precision: 0.98
Macro Precision: 0.05
Weighted Precision: 0.05
Micro F1-score: 0.09

Macro F1-score: 0.05

Weighted F1-score: 0.05
Macro Recall: 0.05
Micro Recall: 0.05
Weighted Recall: 0.05
Relatório de Classificação:
                 precision    recall  f1-score   support

         Action       0.00      0.00      0.00       432
      Adventure       0.00      0.00      0.00       446
      Animation       0.00      0.00      0.00       446
         Comedy       0.00      0.00      0.00       471
          Crime       0.00      0.00      0.00       449
    Documentary       0.00      0.00      0.00       496
          Drama       0.00      0.00      0.00       466
         Family       0.00      0.00      0.00       483
        Fantasy       0.00      0.00      0.00       447
        Foreign       0.00      0.00      0.00       447
        History       0.00      0.00      0.00       424
         Horror       0.00      0.00      0.00       472
          Music       0.00      0.00      0.00       432
        Mystery       0.00      0.00      0.00       476
        Romance       0.00      0.00      0.00       503
Science Fiction       0.00      0.00      0.00       465
       TV Movie       0.98      0.90      0.94       472
       Thriller       0.00      0.00      0.00       463
            War       0.00      0.00      0.00       457
        Western       0.00      0.00      0.00       441

      micro avg       0.98      0.05      0.09      9188
      macro avg       0.05      0.05      0.05      9188
   weighted avg       0.05      0.05      0.05      9188
    samples avg       0.05      0.05      0.05      9188

<built-in function id>
['RandomForest-upsampled-tf-idf', 0.08833922261484099, 0.9792626728110599, 111.92767381668091, 55555, '30/09/2020 21:51:46']
<built-in function id>

# MovieLens

In [99]:
movies = pd.read_csv('../../../dados/movielens/filmes_com_overview.csv')

In [122]:
movies.shape

(56077, 4)

In [100]:
# movies = movies['genres != (no genres listed)']:
movies.drop(movies[movies.genres == '(no genres listed)'].index, inplace=True)

In [123]:
movies.shape

(56077, 4)

In [124]:
movies['genres2'] = movies['genres'].map(lambda x: x.split('|'))

In [128]:
lst_col = 'genres2'

filmes_balanceados2 = pd.DataFrame({
      col:np.repeat(movies[col].values, movies[lst_col].str.len())
      for col in movies.columns.drop(lst_col)}
    ).assign(**{
    lst_col:np.concatenate(movies[lst_col].values)})[movies.columns]

In [129]:
filmes_balanceados2.head(3)

,movieId,title,genres,overview,genres2
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",Adventure
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",Animation
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",Children

In [131]:
filmes_balanceados2['genres2'].value_counts()

Drama          25112
Comedy         16440
Thriller        8569
Romance         7602
Action          7242
Horror          5935
Documentary     5410
Crime           5215
Adventure       4054
Sci-Fi          3528
Mystery         2863
Children        2859
Animation       2824
Fantasy         2644
War             1832
Western         1378
Musical         1039
Film-Noir        352
IMAX             193
Name: genres2, dtype: int64

In [102]:
(movies['genres'].values == '').sum()

0

In [103]:
movies['overview'].fillna('', inplace=True)
movies.isnull().sum()

movieId     0
title       0
genres      0
overview    0
dtype: int64

In [104]:
movies = movies[movies['genres'] != 'chi Fade to Black Kimi no Na o Yobu) (2008)']
movies = movies[movies['genres'] != ' Battle Force (1978)']
movies = movies[movies['genres'] != 'epe&#351']
movies = movies[movies['genres'] != '(no genres listed)']
movies = movies[movies['genres'] != 'Gate the Movie: The Burden of Déjà vu (2013)']
movies['genres'].value_counts()

Drama                                                      8869
Comedy                                                     5422
Documentary                                                4573
Comedy|Drama                                               2338
Drama|Romance                                              2088
                                                           ...
Action|Adventure|Comedy|Drama|Romance|Western                 1
Comedy|Crime|Horror|Sci-Fi|Thriller                           1
Comedy|Drama|Film-Noir|Romance                                1
Action|Children|Drama|Romance                                 1
Action|Adventure|Animation|Comedy|Drama|Fantasy|Romance       1
Name: genres, Length: 1621, dtype: int64

In [105]:
generos = movies.genres.str.get_dummies()
generos.head()

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [106]:
dados_dos_filmes = pd.concat([movies, generos], axis=1)
dados_dos_filmes.head()

,movieId,title,genres,overview,Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"Led by Woody, Andy's toys live happily in his ...",0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,When siblings Judy and Peter discover an encha...,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,A family wedding reignites the ancient feud be...,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"Cheated on, mistreated and stepped on, the wom...",0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,Just when George Banks has recovered from his ...,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
dados_dos_filmes = dados_dos_filmes[dados_dos_filmes['genres'] != 'chi Fade to Black Kimi no Na o Yobu) (2008)']
dados_dos_filmes = dados_dos_filmes[dados_dos_filmes['genres'] != ' Battle Force (1978)']
dados_dos_filmes = dados_dos_filmes[dados_dos_filmes['genres'] != 'epe&#351']
dados_dos_filmes = dados_dos_filmes[dados_dos_filmes['genres'] != '(no genres listed)']
dados_dos_filmes = dados_dos_filmes[dados_dos_filmes['genres'] != 'Gate the Movie: The Burden of Déjà vu (2013)']
dados_dos_filmes['genres'].value_counts()

Drama                                                      8869
Comedy                                                     5422
Documentary                                                4573
Comedy|Drama                                               2338
Drama|Romance                                              2088
                                                           ...
Action|Adventure|Comedy|Drama|Romance|Western                 1
Comedy|Crime|Horror|Sci-Fi|Thriller                           1
Comedy|Drama|Film-Noir|Romance                                1
Action|Children|Drama|Romance                                 1
Action|Adventure|Animation|Comedy|Drama|Fantasy|Romance       1
Name: genres, Length: 1621, dtype: int64

In [111]:
df_genres.shape

(56077, 19)

In [108]:
dados_dos_filmes = dados_dos_filmes[dados_dos_filmes['genres'] != 'genres']
dados_dos_filmes = dados_dos_filmes[dados_dos_filmes['genres'] != 'Gate the Movie: The Burden of Déjà vu (2013)']
dados_dos_filmes.columns
df_genres.drop(['genres' ], axis=1, inplace=True)
df_genres.columns

KeyError: "['genres'] not found in axis"

In [109]:

df_genres =dados_dos_filmes.drop(['movieId','title', 'overview'  ], axis=1)
counts = []
df_genres.drop(['genres'], axis=1, inplace=True)
categories = list(df_genres.columns) 
for i in categories:
    counts.append((i, df_genres[i].sum()))
df_stats = pd.DataFrame(counts, columns=['genre', '#movies'])
df_stats

          genre  #movies
0        Action     7242
1     Adventure     4054
2     Animation     2824
3      Children     2859
4        Comedy    16440
5         Crime     5215
6   Documentary     5410
7         Drama    25112
8       Fantasy     2644
9     Film-Noir      352
10       Horror     5935
11         IMAX      193
12      Musical     1039
13      Mystery     2863
14      Romance     7602
15       Sci-Fi     3528
16     Thriller     8569
17          War     1832
18      Western     1378

In [85]:
from sklearn.ensemble import RandomForestClassifier
nltk.download('stopwords') 
words = stopwords.words("english") 
pipeline = Pipeline([
('tfidf', TfidfVectorizer(stop_words=words)),
('rfc', RandomForestClassifier() ),
    
])
parameters = {
# 'tfidf__max_df': (0.5, 0.65, 0.75),
# 'tfidf__min_df': (0.15, 0.30, 0.35),
'tfidf__ngram_range': [(1, 1), (1, 2), (1, 3)],
"rfc__n_estimators": [10,15,20],
"rfc__class_weight": ['balanced','balanced_subsample', None],
'rfc__max_depth':[3,5,8],
}

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USUARIO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [86]:
# split the data, leave 1/3 out for testing
data_x = dados_dos_filmes[['overview']]
data_y = dados_dos_filmes.drop(['movieId', 'title', 'genres', 'overview'], axis=1)
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [55]:

grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 2 folds for each of 81 candidates, totalling 162 fits

[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  2.8min
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed: 13.4min
[Parallel(n_jobs=2)]: Done 162 out of 162 | elapsed: 16.6min finished

Best parameters set:
[('tfidf', TfidfVectorizer(stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...])), ('rfc', RandomForestClassifier(max_depth=8, n_estimators=20))]

In [56]:

clf  = grid_search_tune.best_estimator_
# classes=categories
classes=[ 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))


if hasattr(clf, 'coef_'):
    print("dimensionality: %d" % clf.coef_.shape[1])
    print("density: %f" % density(clf.coef_))

clf_descr = 'LogisticRegression-upsampled'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

________________________________________________________________________________________________________________________
Training:
Pipeline(steps=[('tfidf',
                 TfidfVectorizer(stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('rfc', RandomForestClassifier(max_depth=8, n_estimators=20))])
Treino: 0.000s
testes:  1.811s
f1_score:   0.000

Accuracy: 0.00


Precisao: 0.67

Relatório de Classificação:
              precision    recall  f1-score   support

      Action       0.00      0.00      0.00      2382
   Adventure       0.00      0.00      0.00      1283
   Animation       0.00      0.00      0.00       928
    Children       0.00      0.00      0.00       914
      Comedy       0.00      0.00      0.00      5452
       Crime       0.00      0.00      0.00      1643
 Documentary       0.00      0.00      0.00      1800
       Drama       0.67      0.00      0.00      8331
     Fantasy       0.00      0.00      0.00       857
   Film-Noir       0.00      0.00      0.00       113
      Horror       0.00      0.00      0.00      1909
        IMAX       0.00      0.00      0.00        65
     Musical       0.00      0.00      0.00       331
     Mystery       0.00      0.00      0.00       943
     Romance       0.00      0.00      0.00      2560
      Sci-Fi       0.00      0.00      0.00      1154
    Thriller       0.00      0.00      0.00      2828
         War       0.00      0.00      0.00       606
     Western       0.00      0.00      0.00       484

   micro avg       0.67      0.00      0.00     34583
   macro avg       0.04      0.00      0.00     34583
weighted avg       0.16      0.00      0.00     34583
 samples avg       0.00      0.00      0.00     34583

<built-in function id>
['LogisticRegression-upsampled', 0.00011565373272422367, 0.6666666666666666, 0.0, 55555, '30/09/2020 21:51:46']
<built-in function id>

In [117]:
df_Drama.shape

(25112, 23)

In [118]:
df_Drama = dados_dos_filmes[dados_dos_filmes['Drama'] == 1] 
df_Comedy  = dados_dos_filmes[dados_dos_filmes['Comedy'] == 1]  
df_Thriller   = dados_dos_filmes[dados_dos_filmes['Thriller'] == 1] 
df_Romance   = dados_dos_filmes[dados_dos_filmes['Romance'] == 1]  
df_Action  =  dados_dos_filmes[dados_dos_filmes['Action'] == 1] 
df_Horror     =  dados_dos_filmes[dados_dos_filmes['Horror'] == 1] 
df_Documentary  =dados_dos_filmes[dados_dos_filmes['Documentary'] == 1]
df_Crime    = dados_dos_filmes[dados_dos_filmes['Crime'] == 1]
df_Adventure =dados_dos_filmes[dados_dos_filmes['Adventure'] == 1] 
df_Mystery      =dados_dos_filmes[dados_dos_filmes['Mystery'] == 1]
df_Animation   = dados_dos_filmes[dados_dos_filmes['Animation'] == 1]
df_Fantasy    = dados_dos_filmes[dados_dos_filmes['Fantasy'] == 1]
df_War        = dados_dos_filmes[dados_dos_filmes['War'] == 1]
df_Western     = dados_dos_filmes[dados_dos_filmes['Western'] == 1]
df_Music         = dados_dos_filmes[dados_dos_filmes['Musical'] == 1]

df_Children           = dados_dos_filmes[dados_dos_filmes['Children'] == 1]
df_SciFi = dados_dos_filmes[dados_dos_filmes['Sci-Fi'] == 1]
df_FilmNoir           = dados_dos_filmes[dados_dos_filmes['Film-Noir'] == 1]
df_IMAX     = dados_dos_filmes[dados_dos_filmes['IMAX'] == 1]

In [119]:
df_Comedy  = resample(df_Comedy,
                      replace=True,
                      n_samples=25112,
                      random_state=0)
df_Thriller   = resample(df_Thriller,
                         replace=True,
                         n_samples=25112,
                         random_state=0)
df_Romance   = resample(df_Romance,
                        replace=True,
                        n_samples=25112,
                        random_state=0)
df_Action  = resample(df_Action,
                      replace=True,
                      n_samples=25112,
                      random_state=0)
df_Horror     = resample(df_Horror, 
                         replace=True,     
                         n_samples=25112,    
                         random_state=0)
df_Documentary= resample(df_Documentary, 
                         replace=True,
                         n_samples=25112,    
                         random_state=0)
df_Crime   = resample(df_Crime,
                      replace=True,     
                      n_samples=25112,    
                      random_state=0)
df_Adventure= resample(df_Adventure, 
                       replace=True,  
                       n_samples=25112,    
                       random_state=0)
df_Mystery      = resample(df_Mystery,
                           replace=True,     
                           n_samples=25112,   
                           random_state=0)
df_Animation  = resample(df_Animation, 
                         replace=True, 
                         n_samples=25112, 
                         random_state=0)
df_Fantasy   = resample(df_Fantasy, 
                                 replace=True,     
                                 n_samples=25112,    
                                 random_state=0) 

# df_Family          = resample(df_Family, 
#                               replace=True,
#                               n_samples=25112,  
#                               random_state=0)
df_War       = resample(df_War, 
                        replace=True,   
                        n_samples=25112,    
                        random_state=0)
df_Western    = resample(df_Western, 
                         replace=True,     
                         n_samples=25112,    
                         random_state=0)
df_Music      = resample(df_Music,
                         replace=True,  
                         n_samples=25112, 
                         random_state=0)  
df_Children    = resample(df_Children, 
                         replace=True, 
                         n_samples=25112,  
                         random_state=0) 
df_SciFi   = resample(df_SciFi, 
                        replace=True,
                        n_samples=25112,  
                        random_state=0)
df_FilmNoir   = resample(df_FilmNoir, 
                        replace=True,
                        n_samples=25112,  
                        random_state=0)


df_IMAX = resample(df_IMAX, 
                       replace=True, 
                       n_samples=25112,
                       random_state=0)

In [120]:
df_upsampled = pd.concat([df_Drama, df_Comedy], axis=0 )
df_upsampled = pd.concat([df_upsampled, df_Thriller ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Action ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Adventure ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Romance ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Crime ]
                         )
df_upsampled = pd.concat([df_upsampled, df_SciFi ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Horror ]
                         ) 
df_upsampled = pd.concat([df_upsampled, df_Fantasy ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Mystery ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Animation ]
                         )  
df_upsampled = pd.concat([df_upsampled, df_Music ]
                         )
df_upsampled = pd.concat([df_upsampled, df_War ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Documentary ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Western ]
                         )  
df_upsampled = pd.concat([df_upsampled, df_Children ]
                         )
df_upsampled = pd.concat([df_upsampled, df_FilmNoir ]
                         )
df_upsampled = pd.concat([df_upsampled, df_IMAX ]
                         )

In [121]:
df_upsampled.reset_index()

,index,movieId,title,genres,overview,Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"Cheated on, mistreated and stepped on, the wom...",0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,10,11,"American President, The (1995)",Comedy|Drama|Romance,"Widowed U.S. president Andrew Shepherd, one of...",0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,13,14,Nixon (1995),Drama,A look at President Richard M. Nixon—a man car...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,16,Casino (1995),Crime|Drama,"In early-1970s Las Vegas, low-level mobster Sa...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,16,17,Sense and Sensibility (1995),Drama|Romance,"Rich Mr. Dashwood dies, leaving his second wif...",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477123,10341,40815,Harry Potter and the Goblet of Fire (2005),Adventure|Fantasy|Thriller|IMAX,"Harry starts his fourth year at Hogwarts, comp...",0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
477124,20639,108188,Jack Ryan: Shadow Recruit (2014),Action|Drama|Thriller|IMAX,"Jack Ryan, as a young covert CIA analyst, unco...",1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
477125,20730,108689,"I, Frankenstein (2014)",Action|Fantasy|Sci-Fi|IMAX,"200 years after his shocking creation, Dr. Fra...",1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
477126,19670,103361,Back to 1942 (2012),Drama|IMAX,"In 1942, Henan Province was devastated by the ...",0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
477127,19017,100163,Hansel & Gretel: Witch Hunters (2013),Action|Fantasy|Horror|IMAX,"After getting a taste for blood as children, H...",1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [115]:
df_upsampled['Drama'].sum()

176687

In [116]:
# df_upsampled['genres'].value_counts()
counts = []
for i in categories:
    counts.append((i, df_upsampled[i].sum()))
df_stats2 = pd.DataFrame(counts, columns=['genre', '#movies'])
df_stats2

          genre  #movies
0        Action   102736
1     Adventure    83091
2     Animation    57098
3      Children    59599
4        Comedy   117978
5         Crime    71832
6   Documentary    35410
7         Drama   176687
8       Fantasy    61342
9     Film-Noir    27783
10       Horror    59883
11         IMAX    28343
12      Musical    34288
13      Mystery    51824
14      Romance    72367
15       Sci-Fi    62329
16     Thriller    99151
17          War    34487
18      Western    31043

# Refazer predição com resample

In [ ]:
# split the data, leave 1/3 out for testing
data_x = dados_dos_filmes[['overview']]
data_y = dados_dos_filmes.drop(['movieId', 'title', 'genres', 'overview'], axis=1)
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
nltk.download('stopwords') 
words = stopwords.words("english") 
pipeline = Pipeline([
('tfidf', TfidfVectorizer(stop_words=words)),
('rfc', RandomForestClassifier() ),
    
])
parameters = {
# 'tfidf__max_df': (0.5, 0.65, 0.75),
# 'tfidf__min_df': (0.15, 0.30, 0.35),
'tfidf__ngram_range': [(1, 1), (1, 2), (1, 3)],
"rfc__n_estimators": [10,15,20],
"rfc__class_weight": ['balanced','balanced_subsample', None],
'rfc__max_depth':[3,5,8],
}

In [ ]:

grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)

In [ ]:

clf  = grid_search_tune.best_estimator_
# classes=categories
classes=[ 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))


if hasattr(clf, 'coef_'):
    print("dimensionality: %d" % clf.coef_.shape[1])
    print("density: %f" % density(clf.coef_))

clf_descr = 'RandomForest-upsampled-movielens'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

# Refazer predição com resample e IF-IDF

In [ ]:
df_upsampled = pd.concat([df_Drama, df_Comedy], axis=0 )
df_upsampled = pd.concat([df_upsampled, df_Thriller ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Action ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Adventure ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Romance ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Crime ]
                         )
df_upsampled = pd.concat([df_upsampled, df_SciFi ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Horror ]
                         ) 
df_upsampled = pd.concat([df_upsampled, df_Fantasy ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Mystery ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Animation ]
                         )  
df_upsampled = pd.concat([df_upsampled, df_Music ]
                         )
df_upsampled = pd.concat([df_upsampled, df_War ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Documentary ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Western ]
                         )  
df_upsampled = pd.concat([df_upsampled, df_Children ]
                         )
df_upsampled = pd.concat([df_upsampled, df_FilmNoir ]
                         )
df_upsampled = pd.concat([df_upsampled, df_IMAX ]
                         )

In [ ]:
df_upsampled.reset_index()

In [ ]:
df_upsampled['genres'] = df_upsampled['genres'].map(lambda x: x.split(','))
df_upsampled['genres'].head()

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
multilabel_binarizer3 = MultiLabelBinarizer()
y =multilabel_binarizer3.fit_transform(df_upsampled['genres'])
tfidf_vectorizer3 = TfidfVectorizer(max_df=0.7, max_features=5000)
# from sklearn import model_selection
xtrain, xval, ytrain, yval = model_selection.train_test_split(df_upsampled['overview'], y, test_size=0.2, random_state=512)
xtrain_tfidf = tfidf_vectorizer3.fit_transform(xtrain)
xval_tfidf = tfidf_vectorizer3.transform(xval)
train_x = xtrain_tfidf
test_x = xval_tfidf

In [ ]:
xtrain_tfidf = tfidf_vectorizer3.fit_transform(xtrain)
xval_tfidf = tfidf_vectorizer3.transform(xval)
train_x = xtrain_tfidf
test_x = xval_tfidf
from sklearn.ensemble import RandomForestClassifier
nltk.download('stopwords') 
rfc = RandomForestClassifier()
words = stopwords.words("english") 
parameters = {'n_estimators':[10,15,20],  
             "class_weight": ['balanced','balanced_subsample', None],
             'max_depth':[3,5,8]}
# clf = GridSearchCV(svc, parameters, cv=2, n_jobs=2, verbose=3)

In [ ]:


# classes=multilabel_binarizer3.classes_
classes=[ 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
print('_' * 120)


t0 = time()  
##############
print("Training: ")
grid_search_tune = GridSearchCV(
rfc, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  

clf  = grid_search_tune.best_estimator_
print(clf)
print 
############################
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro') 
print("f1_score :   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print('Micro Precision: {:.2f}'.format(precision_score(yval, pred, average='micro')))
print('Macro Precision: {:.2f}'.format(precision_score(yval, pred, average='macro')))
print('Weighted Precision: {:.2f}'.format(precision_score(yval, pred, average='weighted')))


print('Micro F1-score: {:.2f}\n'.format(f1_score(yval, pred, average='micro')))
print('Macro F1-score: {:.2f}\n'.format(f1_score(yval, pred, average='macro'))) 
print('Weighted F1-score: {:.2f}'.format(f1_score(yval, pred, average='weighted')))

print('Macro Recall: {:.2f}'.format(recall_score(yval, pred, average='macro'))) 
print('Micro Recall: {:.2f}'.format(recall_score(yval, pred, average='micro')))
print('Weighted Recall: {:.2f}'.format(recall_score(yval, pred, average='weighted')))

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))


if hasattr(clf, 'coef_'):
    print("dimensionality: %d" % clf.coef_.shape[1])
    print("density: %f" % density(clf.coef_))

clf_descr = 'LogisticRegression-upsampled'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])