In [1]:
import pandas as pd
import numpy as np
import warnings
import seaborn as sns 
import re
from ast import literal_eval
warnings.filterwarnings('ignore')
print('pandas:'+pd.__version__)
print('seaborn:'+sns.__version__)  
from sklearn.model_selection import train_test_split 
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer 
import nltk
from sklearn.linear_model import LogisticRegression
nltk.download('stopwords')
from nltk.corpus import stopwords 
from sklearn.multiclass import OneVsRestClassifier
from sklearn import model_selection
from sklearn.model_selection import GridSearchCV
from datetime import datetime
import sqlite3
from sqlite3 import Error
import uuid
from time import time
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report

pandas:1.0.5
seaborn:0.10.1

[nltk_data] Downloading package stopwords to /home/igor/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
# import pandas as pd
# import numpy as np
# import seaborn as sns 
# from time import time
# import matplotlib.pyplot as plt 
# from sklearn.utils import resample
# import matplotlib.ticker as ticker
# %matplotlib inline 
from sklearn import model_selection
# from sklearn.utils.extmath import density
# from sklearn.metrics import confusion_matrix
# from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
# from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import MultiLabelBinarizer
# from nltk.stem.snowball import SnowballStemmer
# from nltk.stem.wordnet import WordNetLemmatizer
# from nltk.corpus import wordnet
from nltk import word_tokenize
# from nltk.corpus import stopwords
# import warnings
from sklearn.utils import resample
from sklearn.ensemble import ExtraTreesClassifier
# from ast import literal_eval
# import re
# warnings.filterwarnings('ignore')
# print('pandas:'+pd.__version__)
# print('seaborn:'+sns.__version__)

In [3]:
results = []
resultsLogisticRegression = []


# datetime object containing current date and time
now = datetime.now()
 
print("now =", now)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

id_transacao = dt_string#str(uuid.uuid4())
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

def save_metrics(conn, project):
    """
    Create a new project into the projects table
    :param conn:
    :param project:
    :return: project id
    """
    sql = ''' INSERT INTO metrics( classificador, score_f1,
    precision,
    train_time,
    test_time,
    transacao)
    VALUES(?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, project)
    conn.commit()
    return cur.lastrowid

def salvar_dado(valor):
    database = r"../data/metricsDB.sqlite"
    print (id)
    # create a database connection
    conn = create_connection(database)
    with conn:
        # create a new project
#         linha = ['SGD Classifier',  0.4503092535879421,  1.9019618034362793,  0.012923479080200195, id]
#         metrica = ('Cool App with SQLite & Python', '2015-01-01', '2015-01-30');
        valor.append(id_transacao)
        print(valor)
        metrica = save_metrics( conn,valor) 
    print (id)

now = 2020-10-06 09:43:15.701657
date and time = 06/10/2020 09:43:15

In [4]:
tmdb = pd.read_csv('../../../dados/tmdb_5000_movies.csv')

In [5]:
tmdb['genres'] = tmdb['genres'].fillna('[]')\
.apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
tmdb.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [6]:
# tmdb['genres']=tmdb['genres'].apply(lambda x: '|'.join(x))
# tmdb.head(3)

In [7]:
# generos = tmdb.genres.str.get_dummies()
# generos.head()

In [8]:
# tmdb.isnull().sum()

In [9]:
tmdb['overview'].fillna('', inplace=True)
tmdb.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   0
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [10]:

# dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
#                             'original_title','popularity','production_companies','production_countries',
#                            'release_date','revenue','runtime','spoken_languages','status','tagline',
#                            'title','vote_average','vote_count', 'overview','genres' ], axis=1)

In [11]:
# generos = tmdb.genres.str.get_dummies()
# generos.head()

# #CONCATENA OS DOIS DATAFRAMES
# dados_dos_filmes = pd.concat([tmdb, generos], axis=1)
# dados_dos_filmes.head()

In [12]:
# df_genres =dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
#                             'original_title','popularity','production_companies','production_countries',
#                            'release_date','revenue','runtime','spoken_languages','status','tagline',
#                            'title','vote_average','vote_count', 'overview','genres' ], axis=1)
# df_genres

In [13]:
# df_genres =dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
#                             'original_title','popularity','production_companies','production_countries',
#                            'release_date','revenue','runtime','spoken_languages','status','tagline',
#                            'title','vote_average','vote_count', 'overview','genres' ], axis=1)
# counts = []
# categories = list(df_genres.columns)
# for i in categories:
#     counts.append((i, df_genres[i].sum()))
# df_stats = pd.DataFrame(counts, columns=['genre', '#movies'])
# df_stats

In [14]:
# dados_dos_filmes.drop(['budget','homepage','id','keywords','original_language',
#                             'original_title','popularity','production_companies','production_countries',
# #                            'release_date','revenue','runtime','spoken_languages','status','tagline',
#                            'title','vote_average','vote_count', 'overview','genres' ], axis=1)

In [15]:
title_df = tmdb[["overview","genres","title"]] #, "all_text"
filmes_balanceados = title_df.copy(deep=True)

In [16]:
lst_col = 'genres'

filmes_balanceados2 = pd.DataFrame({
      col:np.repeat(filmes_balanceados[col].values, filmes_balanceados[lst_col].str.len())
      for col in filmes_balanceados.columns.drop(lst_col)}
    ).assign(**{
    lst_col:np.concatenate(filmes_balanceados[lst_col].values)})[filmes_balanceados.columns]

In [17]:
title_df.head(3)

,overview,genres,title
0,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]",Avatar
1,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End
2,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]",Spectre

In [18]:
filmes_balanceados2.tail(3)

,overview,genres,title
12157,"""Signed, Sealed, Delivered"" introduces a dedic...",Romance,"Signed, Sealed, Delivered"
12158,"""Signed, Sealed, Delivered"" introduces a dedic...",TV Movie,"Signed, Sealed, Delivered"
12159,Ever since the second grade when he first saw ...,Documentary,My Date with Drew

In [19]:
filmes_balanceados2['genres'].value_counts()

Drama              2297
Comedy             1722
Thriller           1274
Action             1154
Romance             894
Adventure           790
Crime               696
Science Fiction     535
Horror              519
Family              513
Fantasy             424
Mystery             348
Animation           234
History             197
Music               185
War                 144
Documentary         110
Western              82
Foreign              34
TV Movie              8
Name: genres, dtype: int64

#### Separando cada gênero em dataset diferente para poder fazer resample dos dados - Tratamento de classes desbalanceadas

In [20]:
df_Drama = filmes_balanceados2[filmes_balanceados2['genres']=='Drama']
df_Comedy  = filmes_balanceados2[filmes_balanceados2['genres']=='Comedy']
df_Thriller   = filmes_balanceados2[filmes_balanceados2['genres']=='Thriller']
df_Action  = filmes_balanceados2[filmes_balanceados2['genres']=='Action']
df_Romance   = filmes_balanceados2[filmes_balanceados2['genres']=='Romance']
df_Adventure = filmes_balanceados2[filmes_balanceados2['genres']=='Adventure']
df_Crime    = filmes_balanceados2[filmes_balanceados2['genres']=='Crime']
df_Science_Fiction = filmes_balanceados2[filmes_balanceados2['genres']=='Science Fiction']
df_Horror     = filmes_balanceados2[filmes_balanceados2['genres']=='Horror']
df_Family           = filmes_balanceados2[filmes_balanceados2['genres']=='Family']
df_Fantasy    = filmes_balanceados2[filmes_balanceados2['genres']=='Fantasy']
df_Mystery      = filmes_balanceados2[filmes_balanceados2['genres']=='Mystery']
df_Animation   = filmes_balanceados2[filmes_balanceados2['genres']=='Animation']
df_History       = filmes_balanceados2[filmes_balanceados2['genres']=='History']
df_Music         = filmes_balanceados2[filmes_balanceados2['genres']=='Music']
df_War        = filmes_balanceados2[filmes_balanceados2['genres']=='War']
df_Documentary  = filmes_balanceados2[filmes_balanceados2['genres']=='Documentary']
df_Western     = filmes_balanceados2[filmes_balanceados2['genres']=='Western']
df_Foreign     = filmes_balanceados2[filmes_balanceados2['genres']=='Foreign']
df_TV_Movie  = filmes_balanceados2[filmes_balanceados2['genres']=='TV Movie']

In [21]:
df_Comedy  = resample(df_Comedy,
                      replace=True,
                      n_samples=2297,
                      random_state=123)
df_Thriller   = resample(df_Thriller,
                         replace=True,
                         n_samples=2297,
                         random_state=123)
df_Action  = resample(df_Action,
                      replace=True,
                      n_samples=2297,
                      random_state=123)
df_Romance   = resample(df_Romance,
                        replace=True,
                        n_samples=2297,
                        random_state=123)
df_Adventure= resample(df_Adventure, 
                       replace=True,  
                       n_samples=2297,    
                       random_state=123)
df_Crime   = resample(df_Crime,
                      replace=True,     
                      n_samples=2297,    
                      random_state=123)
df_Science_Fiction = resample(df_Science_Fiction,
                              replace=True, 
                              n_samples=2297,
                              random_state=123)
df_Horror     = resample(df_Horror, 
                         replace=True,     
                         n_samples=2297,    
                         random_state=123)
df_Family          = resample(df_Family, 
                              replace=True,
                              n_samples=2297,  
                              random_state=123)
df_Fantasy   = resample(df_Fantasy, 
                                 replace=True,     
                                 n_samples=2297,    
                                 random_state=123)
df_Mystery      = resample(df_Mystery,
                           replace=True,     
                           n_samples=2297,   
                           random_state=123)
df_Animation  = resample(df_Animation, 
                         replace=True, 
                         n_samples=2297, 
                         random_state=123)
df_History    = resample(df_History, 
                         replace=True, 
                         n_samples=2297,  
                         random_state=123)
df_Music      = resample(df_Music,
                         replace=True,  
                         n_samples=2297, 
                         random_state=123)
df_War       = resample(df_War, 
                        replace=True,   
                        n_samples=2297,    
                        random_state=123)
df_Documentary= resample(df_Documentary, 
                         replace=True,
                         n_samples=2297,    
                         random_state=123)
df_Western    = resample(df_Western, 
                         replace=True,     
                         n_samples=2297,    
                         random_state=123)
df_Foreign   = resample(df_Foreign, 
                        replace=True,
                        n_samples=2297,  
                        random_state=123)
df_TV_Movie = resample(df_TV_Movie, 
                       replace=True, 
                       n_samples=2297,
                       random_state=123)

In [22]:
df_upsampled = pd.concat([df_Drama, df_Comedy], axis=0 )
df_upsampled = pd.concat([df_upsampled, df_Thriller ]
                         )

df_upsampled = pd.concat([df_upsampled, df_Adventure], axis=0 )
df_upsampled = pd.concat([df_upsampled, df_Action ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Romance ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Crime ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Science_Fiction ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Horror ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Family ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Fantasy ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Mystery ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Animation ]
                         )
df_upsampled = pd.concat([df_upsampled, df_History ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Music ]
                         )
df_upsampled = pd.concat([df_upsampled, df_War ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Documentary ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Western ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Foreign ]
                         )
df_upsampled = pd.concat([df_upsampled, df_TV_Movie ]
                         )

In [23]:
df_upsampled.reset_index()

,index,overview,genres,title
0,12,Following the death of District Attorney Harve...,Drama,The Dark Knight Rises
1,74,"In 1933 New York, an overly ambitious movie pr...",Drama,King Kong
2,76,"84 years later, a 101-year-old woman named Ros...",Drama,Titanic
3,139,Life for former United Nations investigator Ge...,Drama,World War Z
4,153,An adaptation of F. Scott Fitzgerald's Long Is...,Drama,The Great Gatsby
...,...,...,...,...
45935,12158,"""Signed, Sealed, Delivered"" introduces a dedic...",TV Movie,"Signed, Sealed, Delivered"
45936,9934,"Troy (Zac Efron), the popular captain of the b...",TV Movie,High School Musical
45937,8903,A young woman finds out that her mother worked...,TV Movie,Restless
45938,10413,The continued Westward journey of settlers Mis...,TV Movie,Love's Abiding Joy
45939,9780,"American-born Jayne Valseca, her husband Eduar...",TV Movie,We Have Your Husband

In [24]:
df_upsampled['genres'].value_counts()

Horror             2297
Animation          2297
Foreign            2297
Documentary        2297
Romance            2297
History            2297
War                2297
Crime              2297
Action             2297
Mystery            2297
Science Fiction    2297
Drama              2297
Comedy             2297
Family             2297
Thriller           2297
Western            2297
Music              2297
Adventure          2297
Fantasy            2297
TV Movie           2297
Name: genres, dtype: int64

In [25]:
punctuation = """!()-[]{};:'"\, <>./?@#$%^&*_~"""

words = stopwords.words("english")
lemma = nltk.stem.WordNetLemmatizer()
def pre_process(text):
    text = str(text)
    remove_hyperlink = re.sub('http://\S+|https://\S+', '', text)
    for elements in remove_hyperlink:
        if elements in punctuation:
            remove_hyperlink = remove_hyperlink.replace(elements, " ")
    tokens = word_tokenize(remove_hyperlink)
    remove_words = [word for word in tokens if not word in words]
    text = [lemma.lemmatize(word) for word in remove_words]
    joined_words = " ".join(text)
    return joined_words

In [26]:

title_df['overview'] = title_df['overview'].apply(pre_process)
filmes_balanceados['overview'] = filmes_balanceados2['overview'].apply(pre_process)
df_upsampled['overview'] = df_upsampled['overview'].apply(pre_process)

In [27]:
df_upsampled['genres'] = df_upsampled['genres'].map(lambda x: x.split(','))

In [28]:

df_upsampled.head(3)

,overview,genres,title
12,Following death District Attorney Harvey Dent ...,[Drama],The Dark Knight Rises
74,In 1933 New York overly ambitious movie produc...,[Drama],King Kong
76,84 year later 101 year old woman named Rose De...,[Drama],Titanic

In [29]:
title_df.head(3)

,overview,genres,title
0,In 22nd century paraplegic Marine dispatched m...,"[Action, Adventure, Fantasy, Science Fiction]",Avatar
1,Captain Barbossa long believed dead come back ...,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End
2,A cryptic message Bond ’ past sends trail unco...,"[Action, Adventure, Crime]",Spectre

In [30]:
 
nltk.download('stopwords') 
words = stopwords.words("english") 
pipeline = Pipeline([
('tfidf', TfidfVectorizer(stop_words=words)),
('clf', OneVsRestClassifier(LogisticRegression( ))),
    
])
parameters = { 
    'tfidf__ngram_range': [(1, 1), (1, 2), (1, 3)],
    'tfidf__max_features': [10000,15000,20000,25000],
    "clf__estimator__C": [0.01, 0.1, 1],
    "clf__estimator__class_weight": ['balanced'],
    'clf__estimator__solver':['newton-cg',   'liblinear', 'sag', 'saga'],
    'clf__estimator__multi_class':[ 'ovr', 'multinomial'],
#     'clf__estimator__penalty': ['l1', 'l2', 'elasticnet' ],
}

[nltk_data] Downloading package stopwords to /home/igor/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Sem tratamento

In [31]:
 
multilabel_binarizer = MultiLabelBinarizer()
# multilabel_binarizer.fit(title_df['genres'])

# transform target variable
y = multilabel_binarizer.fit_transform( title_df['genres']  )

# split the data, leave 1/3 out for testing
data_x = title_df[['overview']]
data_y = y #title_df[[ 'genres' ]]
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [32]:
multilabel_binarizer.classes_

array(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction',
       'TV Movie', 'Thriller', 'War', 'Western'], dtype=object)

In [33]:

grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Melhor conjunto de parâmetros:")
print (grid_search_tune.best_estimator_.steps)

Fitting 2 folds for each of 288 candidates, totalling 576 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:   18.9s
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed:  1.6min
[Parallel(n_jobs=2)]: Done 284 tasks      | elapsed:  3.9min
[Parallel(n_jobs=2)]: Done 508 tasks      | elapsed:  7.9min
[Parallel(n_jobs=2)]: Done 576 out of 576 | elapsed:  9.7min finished

Best parameters set:
[('tfidf', TfidfVectorizer(max_features=10000,
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...])), ('clf', OneVsRestClassifier(estimator=LogisticRegression(C=1, class_weight='balanced',
                                                 multi_class='multinomial',
                                                 solver='newton-cg')))]

In [34]:
multilabel_binarizer.classes_

array(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction',
       'TV Movie', 'Thriller', 'War', 'Western'], dtype=object)

In [35]:

clf  = grid_search_tune.best_estimator_
classes=multilabel_binarizer.classes_
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))




clf_descr = 'LogisticRegression-semtratamento-tmdb'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

________________________________________________________________________________________________________________________
Training:
Pipeline(steps=[('tfidf',
                 TfidfVectorizer(max_features=10000,
                                 stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('clf',
                 OneVsRestClassifier(estimator=LogisticRegression(C=1,
                                                                  class_weight='balanced',
                                                                  multi_class='multinomial',
                                                                  solver='newton-cg')))])
Treino: 0.000s
testes:  0.098s
f1_score:   0.575

Accuracy: 0.12


Precisao: 0.58

Relatório de Classificação:
                 precision    recall  f1-score   support

         Action       0.60      0.65      0.62       377
      Adventure       0.49      0.57      0.53       246
      Animation       0.42      0.33      0.37        66
         Comedy       0.61      0.68      0.64       541
          Crime       0.55      0.51      0.53       241
    Documentary       0.76      0.37      0.50        43
          Drama       0.68      0.65      0.66       768
         Family       0.51      0.59      0.55       136
        Fantasy       0.44      0.45      0.44       128
        Foreign       0.00      0.00      0.00        13
        History       0.39      0.32      0.35        68
         Horror       0.67      0.54      0.59       183
          Music       0.55      0.43      0.48        54
        Mystery       0.37      0.25      0.30       132
        Romance       0.54      0.59      0.56       296
Science Fiction       0.64      0.57      0.60       180
       TV Movie       0.00      0.00      0.00         3
       Thriller       0.56      0.57      0.56       443
            War       0.43      0.45      0.44        44
        Western       0.88      0.28      0.42        25

      micro avg       0.58      0.57      0.58      3987
      macro avg       0.50      0.44      0.46      3987
   weighted avg       0.58      0.57      0.57      3987
    samples avg       0.58      0.60      0.55      3987

<built-in function id>
['LogisticRegression-semtratamento-tmdb', 0.5751732829237556, 0.5780141843971631, 6.341934204101562e-05, 55555, '06/10/2020 09:43:15']
<built-in function id>

# Tratamento Parcial

In [36]:
filmes_balanceados2['genres'] = filmes_balanceados2['genres'].map(lambda x: x.split(','))
filmes_balanceados2['genres']

0                 [Action]
1              [Adventure]
2                [Fantasy]
3        [Science Fiction]
4              [Adventure]
               ...
12155             [Comedy]
12156              [Drama]
12157            [Romance]
12158           [TV Movie]
12159        [Documentary]
Name: genres, Length: 12160, dtype: object

In [37]:
# filmes_balanceados2['genres'] = filmes_balanceados2['genres'].map(lambda x: x.split(','))

multilabel_binarizer = MultiLabelBinarizer()
# multilabel_binarizer.fit(title_df['genres'])

# transform target variable
y = multilabel_binarizer.fit_transform( filmes_balanceados2['genres']  )

# split the data, leave 1/3 out for testing
data_x = filmes_balanceados2[['overview']]
data_y = y #title_df[[ 'genres' ]]
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [38]:
multilabel_binarizer.classes_

array(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction',
       'TV Movie', 'Thriller', 'War', 'Western'], dtype=object)

In [39]:

grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)

Fitting 2 folds for each of 288 candidates, totalling 576 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:   25.1s
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed:  2.6min
[Parallel(n_jobs=2)]: Done 284 tasks      | elapsed:  6.9min
[Parallel(n_jobs=2)]: Done 508 tasks      | elapsed: 15.9min
[Parallel(n_jobs=2)]: Done 576 out of 576 | elapsed: 20.2min finished

Best parameters set:
[('tfidf', TfidfVectorizer(max_features=15000,
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...])), ('clf', OneVsRestClassifier(estimator=LogisticRegression(C=1, class_weight='balanced',
                                                 multi_class='multinomial',
                                                 solver='newton-cg')))]

In [40]:

clf  = grid_search_tune.best_estimator_
classes=multilabel_binarizer.classes_
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))




clf_descr = 'LogisticRegression-Tratamento Parcial-tmdb'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

________________________________________________________________________________________________________________________
Training:
Pipeline(steps=[('tfidf',
                 TfidfVectorizer(max_features=15000,
                                 stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('clf',
                 OneVsRestClassifier(estimator=LogisticRegression(C=1,
                                                                  class_weight='balanced',
                                                                  multi_class='multinomial',
                                                                  solver='newton-cg')))])
Treino: 0.000s
testes:  0.205s
f1_score:   0.142

Accuracy: 0.04


Precisao: 0.11

Relatório de Classificação:
                 precision    recall  f1-score   support

         Action       0.09      0.18      0.12       404
      Adventure       0.06      0.13      0.09       277
      Animation       0.03      0.06      0.04        85
         Comedy       0.16      0.26      0.20       555
          Crime       0.08      0.18      0.11       221
    Documentary       0.33      0.23      0.27        44
          Drama       0.19      0.31      0.24       766
         Family       0.07      0.13      0.09       169
        Fantasy       0.04      0.10      0.06       116
        Foreign       0.00      0.00      0.00         7
        History       0.06      0.08      0.07        77
         Horror       0.17      0.31      0.22       162
          Music       0.07      0.12      0.09        59
        Mystery       0.02      0.05      0.03       105
        Romance       0.12      0.22      0.16       301
Science Fiction       0.11      0.22      0.14       188
       TV Movie       0.00      0.00      0.00         1
       Thriller       0.06      0.14      0.09       393
            War       0.05      0.10      0.07        50
        Western       0.09      0.09      0.09        33

      micro avg       0.11      0.20      0.14      4013
      macro avg       0.09      0.15      0.11      4013
   weighted avg       0.12      0.20      0.15      4013
    samples avg       0.11      0.20      0.14      4013

<built-in function id>
['LogisticRegression-Tratamento Parcial-tmdb', 0.1419421845248399, 0.10873889404588251, 6.4849853515625e-05, 55555, '06/10/2020 09:43:15']
<built-in function id>

# Tratamento Com upsample

In [41]:
# filmes_balanceados2['genres'] = filmes_balanceados2['genres'].map(lambda x: x.split(','))

multilabel_binarizer = MultiLabelBinarizer()
# multilabel_binarizer.fit(title_df['genres'])

# transform target variable
y = multilabel_binarizer.fit_transform( df_upsampled['genres']  )

# split the data, leave 1/3 out for testing
data_x = df_upsampled[['overview']]
data_y = y #title_df[[ 'genres' ]]
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [42]:

grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)

Fitting 2 folds for each of 288 candidates, totalling 576 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  1.9min
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed: 17.2min
[Parallel(n_jobs=2)]: Done 284 tasks      | elapsed: 59.7min
[Parallel(n_jobs=2)]: Done 508 tasks      | elapsed: 157.7min
[Parallel(n_jobs=2)]: Done 576 out of 576 | elapsed: 176.3min finished

Best parameters set:
[('tfidf', TfidfVectorizer(max_features=20000,
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...])), ('clf', OneVsRestClassifier(estimator=LogisticRegression(C=1, class_weight='balanced',
                                                 multi_class='multinomial',
                                                 solver='newton-cg')))]

In [43]:

clf  = grid_search_tune.best_estimator_
classes=multilabel_binarizer.classes_
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))




clf_descr = 'LogisticRegression-upsampled-tmdb'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

________________________________________________________________________________________________________________________
Training:
Pipeline(steps=[('tfidf',
                 TfidfVectorizer(max_features=20000,
                                 stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('clf',
                 OneVsRestClassifier(estimator=LogisticRegression(C=1,
                                                                  class_weight='balanced',
                                                                  multi_class='multinomial',
                                                                  solver='newton-cg')))])
Treino: 0.000s
testes:  0.664s
f1_score:   0.523

Accuracy: 0.18


Precisao: 0.37

Relatório de Classificação:
                 precision    recall  f1-score   support

         Action       0.19      0.77      0.31       734
      Adventure       0.23      0.85      0.36       782
      Animation       0.46      1.00      0.63       737
         Comedy       0.21      0.65      0.32       783
          Crime       0.36      0.91      0.52       757
    Documentary       0.82      0.99      0.90       774
          Drama       0.05      0.21      0.08       775
         Family       0.32      0.96      0.48       791
        Fantasy       0.37      0.97      0.54       718
        Foreign       0.91      1.00      0.96       734
        History       0.51      1.00      0.68       740
         Horror       0.47      0.93      0.63       771
          Music       0.58      1.00      0.74       741
        Mystery       0.50      0.99      0.66       763
        Romance       0.33      0.82      0.47       784
Science Fiction       0.37      0.95      0.53       766
       TV Movie       0.98      1.00      0.99       772
       Thriller       0.20      0.73      0.31       738
            War       0.64      1.00      0.78       757
        Western       0.82      1.00      0.90       744

      micro avg       0.37      0.88      0.52     15161
      macro avg       0.47      0.89      0.59     15161
   weighted avg       0.47      0.88      0.59     15161
    samples avg       0.45      0.88      0.57     15161

<built-in function id>
['LogisticRegression-upsampled-tmdb', 0.5227999064619222, 0.3710136910524132, 5.650520324707031e-05, 55555, '06/10/2020 09:43:15']
<built-in function id>

# MovieLens

In [44]:
movies = pd.read_csv('../../../dados/movielens/filmes_com_overview.csv')

In [45]:
# movies = movies['genres != (no genres listed)']:
movies.drop(movies[movies.genres == '(no genres listed)'].index, inplace=True)

In [46]:
movies['overview'].fillna('', inplace=True)
movies.isnull().sum()

movieId     0
title       0
genres      0
overview    0
dtype: int64

In [47]:
movies['genres'] = movies['genres'].map(lambda x: x.split('|'))
movies.head(3)

,movieId,title,genres,overview
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]","Led by Woody, Andy's toys live happily in his ..."
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",When siblings Judy and Peter discover an encha...
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",A family wedding reignites the ancient feud be...

In [48]:
title_df = movies[["overview","genres","title"]] #, "all_text"
filmes_balanceados = title_df.copy(deep=True)

In [49]:
lst_col = 'genres'

filmes_balanceados2 = pd.DataFrame({
      col:np.repeat(filmes_balanceados[col].values, filmes_balanceados[lst_col].str.len())
      for col in filmes_balanceados.columns.drop(lst_col)}
    ).assign(**{
    lst_col:np.concatenate(filmes_balanceados[lst_col].values)})[filmes_balanceados.columns]

In [50]:
title_df.head(3)

,overview,genres,title
0,"Led by Woody, Andy's toys live happily in his ...","[Adventure, Animation, Children, Comedy, Fantasy]",Toy Story (1995)
1,When siblings Judy and Peter discover an encha...,"[Adventure, Children, Fantasy]",Jumanji (1995)
2,A family wedding reignites the ancient feud be...,"[Comedy, Romance]",Grumpier Old Men (1995)

In [51]:
filmes_balanceados2.tail(3)

,overview,genres,title
105088,Italian costume drama about convicted women in...,Action,Women of Devil's Island (1962)
105089,Italian costume drama about convicted women in...,Adventure,Women of Devil's Island (1962)
105090,Italian costume drama about convicted women in...,Drama,Women of Devil's Island (1962)

In [52]:
filmes_balanceados2['genres'].value_counts()

Drama          25112
Comedy         16440
Thriller        8569
Romance         7602
Action          7242
Horror          5935
Documentary     5410
Crime           5215
Adventure       4054
Sci-Fi          3528
Mystery         2863
Children        2859
Animation       2824
Fantasy         2644
War             1832
Western         1378
Musical         1039
Film-Noir        352
IMAX             193
Name: genres, dtype: int64

#### Separando cada gênero em dataset diferente para poder fazer resample dos dados - Tratamento de classes desbalanceadas

In [53]:
df_Drama = filmes_balanceados2[filmes_balanceados2['genres']=='Drama']
df_Comedy  = filmes_balanceados2[filmes_balanceados2['genres']=='Comedy']
df_Thriller   = filmes_balanceados2[filmes_balanceados2['genres']=='Thriller']
df_Romance   = filmes_balanceados2[filmes_balanceados2['genres']=='Romance']
df_Action  = filmes_balanceados2[filmes_balanceados2['genres']=='Action']
df_Horror     = filmes_balanceados2[filmes_balanceados2['genres']=='Horror']
df_Documentary  = filmes_balanceados2[filmes_balanceados2['genres']=='Documentary']
df_Crime    = filmes_balanceados2[filmes_balanceados2['genres']=='Crime']
df_Adventure = filmes_balanceados2[filmes_balanceados2['genres']=='Adventure'] 
df_Mystery      = filmes_balanceados2[filmes_balanceados2['genres']=='Mystery'] 
df_Animation   = filmes_balanceados2[filmes_balanceados2['genres']=='Animation']
df_Fantasy    = filmes_balanceados2[filmes_balanceados2['genres']=='Fantasy'] 
df_War        = filmes_balanceados2[filmes_balanceados2['genres']=='War']
df_Western     = filmes_balanceados2[filmes_balanceados2['genres']=='Western']
df_Music         = filmes_balanceados2[filmes_balanceados2['genres']=='Musical']

df_Children           = filmes_balanceados2[filmes_balanceados2['genres']=='Children']
df_SciFi = filmes_balanceados2[filmes_balanceados2['genres']=='Sci-Fi']
df_FilmNoir           = filmes_balanceados2[filmes_balanceados2['genres']=='Film-Noir']
df_IMAX     = filmes_balanceados2[filmes_balanceados2['genres']=='IMAX']

In [54]:
df_Comedy  = resample(df_Comedy,
                      replace=True,
                      n_samples=25112,
                      random_state=0)
df_Thriller   = resample(df_Thriller,
                         replace=True,
                         n_samples=25112,
                         random_state=0)
df_Romance   = resample(df_Romance,
                        replace=True,
                        n_samples=25112,
                        random_state=0)
df_Action  = resample(df_Action,
                      replace=True,
                      n_samples=25112,
                      random_state=0)
df_Horror     = resample(df_Horror, 
                         replace=True,     
                         n_samples=25112,    
                         random_state=0)
df_Documentary= resample(df_Documentary, 
                         replace=True,
                         n_samples=25112,    
                         random_state=0)
df_Crime   = resample(df_Crime,
                      replace=True,     
                      n_samples=25112,    
                      random_state=0)
df_Adventure= resample(df_Adventure, 
                       replace=True,  
                       n_samples=25112,    
                       random_state=0)
df_Mystery      = resample(df_Mystery,
                           replace=True,     
                           n_samples=25112,   
                           random_state=0)
df_Animation  = resample(df_Animation, 
                         replace=True, 
                         n_samples=25112, 
                         random_state=0)
df_Fantasy   = resample(df_Fantasy, 
                                 replace=True,     
                                 n_samples=25112,    
                                 random_state=0) 

# df_Family          = resample(df_Family, 
#                               replace=True,
#                               n_samples=25112,  
#                               random_state=0)
df_War       = resample(df_War, 
                        replace=True,   
                        n_samples=25112,    
                        random_state=0)
df_Western    = resample(df_Western, 
                         replace=True,     
                         n_samples=25112,    
                         random_state=0)
df_Music      = resample(df_Music,
                         replace=True,  
                         n_samples=25112, 
                         random_state=0)  
df_Children    = resample(df_Children, 
                         replace=True, 
                         n_samples=25112,  
                         random_state=0) 
df_SciFi   = resample(df_SciFi, 
                        replace=True,
                        n_samples=25112,  
                        random_state=0)
df_FilmNoir   = resample(df_FilmNoir, 
                        replace=True,
                        n_samples=25112,  
                        random_state=0)


df_IMAX = resample(df_IMAX, 
                       replace=True, 
                       n_samples=25112,
                       random_state=0)

In [55]:
df_upsampled = pd.concat([df_Drama, df_Comedy], axis=0 )
df_upsampled = pd.concat([df_upsampled, df_Thriller ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Action ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Adventure ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Romance ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Crime ]
                         )
df_upsampled = pd.concat([df_upsampled, df_SciFi ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Horror ]
                         ) 
df_upsampled = pd.concat([df_upsampled, df_Fantasy ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Mystery ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Animation ]
                         )  
df_upsampled = pd.concat([df_upsampled, df_Music ]
                         )
df_upsampled = pd.concat([df_upsampled, df_War ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Documentary ]
                         )
df_upsampled = pd.concat([df_upsampled, df_Western ]
                         )  
df_upsampled = pd.concat([df_upsampled, df_Children ]
                         )
df_upsampled = pd.concat([df_upsampled, df_FilmNoir ]
                         )
df_upsampled = pd.concat([df_upsampled, df_IMAX ]
                         )

In [56]:
df_upsampled.reset_index()

,index,overview,genres,title
0,11,"Cheated on, mistreated and stepped on, the wom...",Drama,Waiting to Exhale (1995)
1,26,"Widowed U.S. president Andrew Shepherd, one of...",Drama,"American President, The (1995)"
2,33,A look at President Richard M. Nixon—a man car...,Drama,Nixon (1995)
3,38,"In early-1970s Las Vegas, low-level mobster Sa...",Drama,Casino (1995)
4,39,"Rich Mr. Dashwood dies, leaving his second wif...",Drama,Sense and Sensibility (1995)
...,...,...,...,...
477123,21176,"Harry starts his fourth year at Hogwarts, comp...",IMAX,Harry Potter and the Goblet of Fire (2005)
477124,41824,"Jack Ryan, as a young covert CIA analyst, unco...",IMAX,Jack Ryan: Shadow Recruit (2014)
477125,41994,"200 years after his shocking creation, Dr. Fra...",IMAX,"I, Frankenstein (2014)"
477126,39985,"In 1942, Henan Province was devastated by the ...",IMAX,Back to 1942 (2012)
477127,38784,"After getting a taste for blood as children, H...",IMAX,Hansel & Gretel: Witch Hunters (2013)

In [57]:
df_upsampled['genres'].value_counts()

Adventure      25112
Documentary    25112
Film-Noir      25112
Action         25112
Mystery        25112
Thriller       25112
Sci-Fi         25112
War            25112
Horror         25112
Romance        25112
Western        25112
Fantasy        25112
Animation      25112
Musical        25112
IMAX           25112
Drama          25112
Crime          25112
Children       25112
Comedy         25112
Name: genres, dtype: int64

In [58]:
punctuation = """!()-[]{};:'"\, <>./?@#$%^&*_~"""

words = stopwords.words("english")
lemma = nltk.stem.WordNetLemmatizer()
def pre_process(text):
    text = str(text)
    remove_hyperlink = re.sub('http://\S+|https://\S+', '', text)
    for elements in remove_hyperlink:
        if elements in punctuation:
            remove_hyperlink = remove_hyperlink.replace(elements, " ")
    tokens = word_tokenize(remove_hyperlink)
    remove_words = [word for word in tokens if not word in words]
    text = [lemma.lemmatize(word) for word in remove_words]
    joined_words = " ".join(text)
    return joined_words

In [59]:

title_df['overview'] = title_df['overview'].apply(pre_process)
filmes_balanceados['overview'] = filmes_balanceados2['overview'].apply(pre_process)
df_upsampled['overview'] = df_upsampled['overview'].apply(pre_process)

In [60]:
title_df.head(3)

,overview,genres,title
0,Led Woody Andy toy live happily room Andy birt...,"[Adventure, Animation, Children, Comedy, Fantasy]",Toy Story (1995)
1,When sibling Judy Peter discover enchanted boa...,"[Adventure, Children, Fantasy]",Jumanji (1995)
2,A family wedding reignites ancient feud next d...,"[Comedy, Romance]",Grumpier Old Men (1995)

In [61]:
filmes_balanceados.head(3)

,overview,genres,title
0,Led Woody Andy toy live happily room Andy birt...,"[Adventure, Animation, Children, Comedy, Fantasy]",Toy Story (1995)
1,Led Woody Andy toy live happily room Andy birt...,"[Adventure, Children, Fantasy]",Jumanji (1995)
2,Led Woody Andy toy live happily room Andy birt...,"[Comedy, Romance]",Grumpier Old Men (1995)

In [62]:
df_upsampled.head(3)

,overview,genres,title
11,Cheated mistreated stepped woman holding breat...,Drama,Waiting to Exhale (1995)
26,Widowed U S president Andrew Shepherd one worl...,Drama,"American President, The (1995)"
33,A look President Richard M Nixon—a man carryin...,Drama,Nixon (1995)

# Sem tratamento

In [63]:

multilabel_binarizer = MultiLabelBinarizer()
# multilabel_binarizer.fit(title_df['genres'])

# transform target variable
y = multilabel_binarizer.fit_transform( title_df['genres']  )

# split the data, leave 1/3 out for testing
data_x = title_df[['overview']]
data_y = y #title_df[[ 'genres' ]]
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [64]:


grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)

Fitting 2 folds for each of 288 candidates, totalling 576 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  1.8min
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed: 12.1min
[Parallel(n_jobs=2)]: Done 284 tasks      | elapsed: 33.5min
[Parallel(n_jobs=2)]: Done 508 tasks      | elapsed: 116.9min
[Parallel(n_jobs=2)]: Done 576 out of 576 | elapsed: 170.6min finished

Best parameters set:
[('tfidf', TfidfVectorizer(max_features=25000, ngram_range=(1, 2),
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...])), ('clf', OneVsRestClassifier(estimator=LogisticRegression(C=1, class_weight='balanced',
                                                 multi_class='multinomial',
                                                 solver='newton-cg')))]

In [65]:

multilabel_binarizer.classes_

array(['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western'], dtype=object)

In [66]:

clf  = grid_search_tune.best_estimator_
classes=multilabel_binarizer.classes_
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))




clf_descr = 'LogisticRegression-semtratamento-movieLens'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

________________________________________________________________________________________________________________________
Training:
Pipeline(steps=[('tfidf',
                 TfidfVectorizer(max_features=25000, ngram_range=(1, 2),
                                 stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('clf',
                 OneVsRestClassifier(estimator=LogisticRegression(C=1,
                                                                  class_weight='balanced',
                                                                  multi_class='multinomial',
                                                                  solver='newton-cg')))])
Treino: 0.000s
testes:  3.494s
f1_score:   0.559

Accuracy: 0.16


Precisao: 0.48

Relatório de Classificação:
              precision    recall  f1-score   support

      Action       0.45      0.67      0.54      2382
   Adventure       0.31      0.57      0.40      1283
   Animation       0.42      0.64      0.51       928
    Children       0.34      0.61      0.44       914
      Comedy       0.57      0.68      0.62      5452
       Crime       0.40      0.64      0.49      1643
 Documentary       0.65      0.82      0.73      1800
       Drama       0.67      0.71      0.69      8331
     Fantasy       0.27      0.50      0.35       857
   Film-Noir       0.10      0.15      0.12       113
      Horror       0.55      0.75      0.63      1909
        IMAX       0.10      0.06      0.07        65
     Musical       0.19      0.37      0.25       331
     Mystery       0.26      0.51      0.35       943
     Romance       0.38      0.58      0.46      2560
      Sci-Fi       0.48      0.68      0.57      1154
    Thriller       0.42      0.64      0.50      2828
         War       0.41      0.68      0.51       606
     Western       0.65      0.76      0.70       484

   micro avg       0.48      0.66      0.56     34583
   macro avg       0.40      0.58      0.47     34583
weighted avg       0.51      0.66      0.57     34583
 samples avg       0.53      0.71      0.56     34583

<built-in function id>
['LogisticRegression-semtratamento-movieLens', 0.5594062427519867, 0.4840501943552476, 8.726119995117188e-05, 55555, '06/10/2020 09:43:15']
<built-in function id>

In [67]:

filmes_balanceados2['genres'] = filmes_balanceados2['genres'].map(lambda x: x.split(','))
filmes_balanceados2['genres']

0         [Adventure]
1         [Animation]
2          [Children]
3            [Comedy]
4           [Fantasy]
             ...
105086       [Comedy]
105087        [Drama]
105088       [Action]
105089    [Adventure]
105090        [Drama]
Name: genres, Length: 105091, dtype: object

In [68]:

multilabel_binarizer = MultiLabelBinarizer()
# multilabel_binarizer.fit(title_df['genres'])

# transform target variable
y = multilabel_binarizer.fit_transform( filmes_balanceados2['genres']  )

# split the data, leave 1/3 out for testing
data_x = filmes_balanceados2[['overview']]
data_y = y #title_df[[ 'genres' ]]
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [69]:

nltk.download('stopwords') 
words = stopwords.words("english") 
pipeline = Pipeline([
('tfidf', TfidfVectorizer(stop_words=words)),
('clf', OneVsRestClassifier(LogisticRegression( ))),
   
])
parameters = { 
   'tfidf__ngram_range': [(1, 1), (1, 2), (1, 3)],
   'tfidf__max_features': [10000,15000,20000],
   "clf__estimator__C": [0.01, 0.1, 1],
   "clf__estimator__class_weight": ['balanced'],
   'clf__estimator__solver':['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
   'clf__estimator__multi_class':[ 'ovr', 'multinomial'],
#    'clf__estimator__penalty': ['l1', 'l2', 'elasticnet' ],
}

[nltk_data] Downloading package stopwords to /home/igor/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:

grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 2 folds for each of 270 candidates, totalling 540 fits

[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  8.6min
[Parallel(n_jobs=2)]: Done 124 tasks      | elapsed: 67.4min
[Parallel(n_jobs=2)]: Done 284 tasks      | elapsed: 172.5min
[Parallel(n_jobs=2)]: Done 508 tasks      | elapsed: 291.3min

In [ ]:


clf  = grid_search_tune.best_estimator_
classes=multilabel_binarizer.classes_
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))




clf_descr = 'LogisticRegression-Tratamento Parcial-movieLens'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])

# Tratamento Com upsample

In [ ]:

# filmes_balanceados2['genres'] = filmes_balanceados2['genres'].map(lambda x: x.split(','))

multilabel_binarizer = MultiLabelBinarizer()
# multilabel_binarizer.fit(title_df['genres'])

# transform target variable
y = multilabel_binarizer.fit_transform( df_upsampled['genres']  )

# split the data, leave 1/3 out for testing
data_x = df_upsampled[['overview']]
data_y = y #title_df[[ 'genres' ]]
# stratified_split = StratifiedShuffleSplit(n_splits=2, test_size=0.33)
xtrain, xval, ytrain, yval = model_selection.train_test_split(data_x, data_y, test_size=0.33, random_state=512)
# transform matrix of plots into lists to pass to a TfidfVectorizer
train_x = [x[0].strip() for x in xtrain.values.tolist()]
test_x = [x[0].strip() for x in xval.values.tolist()]

In [ ]:

nltk.download('stopwords') 
words = stopwords.words("english") 
pipeline = Pipeline([
('tfidf', TfidfVectorizer(stop_words=words)),
('clf', OneVsRestClassifier(LogisticRegression( ))),
   
])
parameters = { 
   'tfidf__ngram_range': [(1, 1), (1, 2), (1, 3)],
   'tfidf__max_features': [10000,15000,20000],
   "clf__estimator__C": [0.01, 0.1, 1],
   "clf__estimator__class_weight": ['balanced'],
   'clf__estimator__solver':['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
   'clf__estimator__multi_class':[ 'ovr', 'multinomial'],
#    'clf__estimator__penalty': ['l1', 'l2', 'elasticnet' ],
}

In [ ]:

grid_search_tune = GridSearchCV(
pipeline, parameters, cv=2, n_jobs=2, verbose=3)
grid_search_tune.fit(train_x, ytrain )  
print
print("Best parameters set:")
print (grid_search_tune.best_estimator_.steps)

In [ ]:



clf  = grid_search_tune.best_estimator_
classes=multilabel_binarizer.classes_
print('_' * 120)
print("Training: ")
print(clf)
t0 = time()  
train_time = time() - t0
print("Treino: %0.3fs" % train_time)

t0 = time()
pred = clf.predict(test_x)
test_time = time() - t0
print("testes:  %0.3fs" % test_time)

score = f1_score(yval, pred, average="micro")
precision = precision_score(yval, pred, average='micro')
print("f1_score:   %0.3f" % score)

print('\nAccuracy: {:.2f}\n'.format(accuracy_score(yval, pred)))
print('\nPrecisao: {:.2f}\n'.format(precision)) 

print("Relatório de Classificação:")
print(classification_report(yval, pred,
#                                             labels=[1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
                                        target_names=classes))

# print("confusion matrix:") 
# print(confusion_matrix(yvalb2.argmax(axis=1), pred.argmax(axis=1)))




clf_descr = 'LogisticRegression-upsampled-movielens'#str(clf).split('(')[0]

test_time=55555    
results.append([clf_descr, score,precision, train_time, test_time])  
resultsLogisticRegression.append([clf_descr, score,precision, train_time, test_time])  
salvar_dado([clf_descr, score,precision, train_time, test_time])